body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ff69b4; /* Pink title for beauty salon theme */
  margin-bottom: 20px;
}
.contact {
  margin-top: 25px;
}
.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form input[type="submit"] {
  background-color: #ff69b4; /* Pink button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff4081; /* Darker pink on hover */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff69b4;
  outline: none;
}
